<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tomatobar.notion</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/elliotroe/.volta/bin/node</string> <!-- Path to your Node.js executable -->
        <string>~/bin/tomatoBarNotion.js</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>~/Library/Containers/com.github.ivoronin.TomatoBar/Data/Library/Caches/TomatoBar.log</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>